/vendors
/lib
/.project
/.settings
/.buildpath
.DS_Store
/.htaccess
/README
/app/tmp/*
/app/files/*
/app/webroot/img/logo.png
/app/Config/bootstrap.php
/app/Config/database.php
/app/Config/core.php
/cakephp
*sublime*
sftp-config.json
/app/Console/*.py
/app/Console/*.py[cod]